@model List<BookLibrary.ModelViews.CartItem>
@if(Model != null && Model.Count() > 0)
{
    <a href="" id="tg-minicart" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tg-themebadge">@Model.Count()</span>
        <i class="icon-cart"></i>
    </a>
}
else
{
    <a href="" id="tg-minicart" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tg-themebadge">0</span>
        <i class="icon-cart"></i>
    </a>
    
}
