<!--************************************
		Footer Bắt Đầu
*************************************-->
<footer id="tg-footer" class="tg-footer tg-haslayout">
	<div class="tg-footerarea">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="tg-clientservices">
						<li class="tg-delivery">
							<span class="tg-clientserviceicon"><i class="icon-rocket"></i></span>
							<div class="tg-titlesubtitle">
								<h3>Giao Hàng Nhanh</h3>
								<p>Giao Hàng Toàn Cầu</p>
							</div>
						</li>
						<li class="tg-discount">
							<span class="tg-clientserviceicon"><i class="icon-tag"></i></span>
							<div class="tg-titlesubtitle">
								<h3>Giảm Giá Đặc Biệt</h3>
								<p>Nhiều Khuyến Mãi Hấp Dẫn</p>
							</div>
						</li>
						<li class="tg-quality">
							<span class="tg-clientserviceicon"><i class="icon-leaf"></i></span>
							<div class="tg-titlesubtitle">
								<h3>Chất Lượng Cao</h3>
								<p>Sản Phẩm Được Đảm Bảo</p>
							</div>
						</li>
						<li class="tg-support">
							<span class="tg-clientserviceicon"><i class="icon-heart"></i></span>
							<div class="tg-titlesubtitle">
								<h3>Hỗ Trợ 24/7</h3>
								<p>Phục Vụ Mọi Lúc</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="tg-threecolumns">
					<div class="col-md-4">
						<div class="tg-footercol">
							<strong class="tg-logo"><a href="/"><img src="~/assetsui/images/flogo.png" alt="Book Library Logo"></a></strong>
							<ul class="tg-contactinfo">
								<li><i class="icon-apartment"></i><address>16/12 Nguyễn Văn Nghi, Phường 5, Gò Vấp, TP. HCM</address></li>
								<li><i class="icon-phone-handset"></i><span>039 888 4409</span></li>
								<li><i class="icon-clock"></i><span>Phục vụ từ 7h sáng - 5h tối</span></li>
								<li><i class="icon-envelope"></i><span><a href="mailto:ngocpham@gmail">ngocpham@gmail.com</a></span></li>
							</ul>
							<ul class="tg-socialicons">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="tg-footercol tg-widget">
							<h3>Thông Tin Hỗ Trợ</h3>
							<ul>
								<li><a href="#">Điều Khoản Sử Dụng</a></li>
								<li><a href="#">Điều Khoản Bán Hàng</a></li>
								<li><a href="#">Chính Sách Trả Hàng</a></li>
								<li><a href="#">Bảo Mật</a></li>
								<li><a href="#">Liên Hệ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="tg-footercol tg-widget">
							<h3>Tác Giả Hàng Đầu</h3>
							<ul>
								<li>
									<a href="#"><img src="~/assetsui/images/author/imag-09.jpg" alt="Jude Morphew"></a>
									<div class="tg-authornamebooks">
										<h4>Jude Morphew</h4>
										<p>21,658 Sách Đã Xuất Bản</p>
									</div>
								</li>
								<li>
									<a href="#"><img src="~/assetsui/images/author/imag-10.jpg" alt="Shaun Humes"></a>
									<div class="tg-authornamebooks">
										<h4>Shaun Humes</h4>
										<p>20,257 Sách Đã Xuất Bản</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tg-footerbar">
		<a id="tg-btnbacktotop" class="tg-btnbacktotop" href="#"><i class="icon-chevron-up"></i></a>
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<span class="tg-paymenttype"><img src="~/assetsui/images/paymenticon.png" alt="Payment Methods"></span>
					<span>&copy; 2023 Bản quyền thuộc về Book Library</span>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--************************************
		Footer Kết Thúc
*************************************-->
