<nav class="iq-sidebar-menu">
    <ul id="iq-sidebar-toggle" class="side-menu">
      
        <li class="px-3 pt-3 pb-2">
            <span class="text-uppercase small font-weight-bold">Pages</span>
        </li>
      
        <li class="sidebar-layout">
            <a href="#app1" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10l1.507 9.057A2 2 0 006.5 21h11a2 2 0 001.993-1.943L21 10m-9-5h4.586a2 2 0 011.414.586l3 3A2 2 0 0121 9v1a2 2 0 01-2 2H5a2 2 0 01-2-2V9a2 2 0 01.586-1.414l3-3A2 2 0 018 5h4z" />
                    </svg>
                </i>

                <span class="ml-2">Quản lý sản phẩm</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon iq-arrow-right arrow-active" width="15" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
            <ul id="app1" class="submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="sidebar-layout">
                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="svg-icon">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </i>
                        <span class="ml-2">Danh sách sản phẩm</span>
                    </a>
                </li>
             
            </ul>
        </li>

        <!-- Menu Quản lý Pages -->
        <li class="sidebar-layout">
            <a href="@Url.Action("Index", "AdminPages", new { area = "Admin" })" class="svg-icon">
                <!-- Icon riêng -->
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 4H7a2 2 0 01-2-2V6a2 2 0 012-2h7l5 5v11a2 2 0 01-2 2z" />
                    </svg>
                </i>

                <span class="ml-2">Quản lý Pages</span>
             
            </a>
        </li>


       


        <li class="sidebar-layout">
            <a href="#app6" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                    </svg>
                </i>
                <span class="ml-2">Quản lý Khách hàng</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon iq-arrow-right arrow-active" width="15" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
            <ul id="app6" class="submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class=" sidebar-layout">
                    <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" class="svg-icon">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </i>
                        <span class="ml-2">Danh sách khách hàng</span>
                    </a>
                </li>
                <li class=" sidebar-layout">
                    <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" class="svg-icon">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636a9 9 0 010 12.728m0 0l-2.829-2.829m2.829 2.829L21 21M15.536 8.464a5 5 0 010 7.072m0 0l-2.829-2.829m-4.243 2.829a4.978 4.978 0 01-1.414-2.83m-1.414 5.658a9 9 0 01-2.167-9.238m7.824 2.167a1 1 0 111.414 1.414m-1.414-1.414L3 3m8.293 8.293l1.414 1.414" />
                            </svg>
                        </i>
                        <span class="ml-2">Tìm kiếm khách hàng</span>
                    </a>
                </li>
            </ul>
        </li>
  


        <li class="sidebar-layout">
            <a href="#systemManagement" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                    </svg>
                </i>
                <span class="ml-2">Quản lý hệ thống</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon iq-arrow-right arrow-active" width="15" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
            <ul id="systemManagement" class="submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="sidebar-layout">
                    <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index" class="svg-icon">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11v2a4 4 0 01-8 0v-2m8-4a4 4 0 00-8 0v4m8 4v2a4 4 0 01-8 0v-2m0-6a4 4 0 00-8 0v4" />
                            </svg>
                        </i>
                        <span>Quản lý tài khoản</span>
                    </a>
                </li>

              
                <li class="sidebar-layout">
                    <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" class="svg-icon">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 12h12m-12 4h12m-12 4h12M6 4h12" />
                            </svg>
                        </i>
                        Quản lý quyền truy cập
                    </a>
                </li>

                
            </ul>
        </li>

        



    </ul>
</nav>